.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar_share {
    width: 88px;
    height: 88px;
    padding: 0px;
    position: relative;
    left: 200px;
    border-radius: 275px;
    background: url("./images/avatar-share-btn.png") no-repeat center;
}


#profile__img {
    width: 88px;
    height: 88px;
    padding: 0px;
    border-radius: 275px;
    background: url("./images/wumi2.jpg") no-repeat center;
}

#profile__img:hover {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(0deg, rgba(52, 64, 84, 0.75), rgba(52, 64, 84, 0.75)), url("./images/camera-icon.png") center 90% no-repeat, no-repeat center url("./images/wumi2.jpg");
}

#profile_image:focus {
    border: 5.5px solid #EBE9FE;
}

a {
    text-decoration: none;
}

#twitter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #101828;
}

#btn__twitter, #btn__zuri, #books, #book__python, #pitch, #book__design {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #101828;
    background: #EAECF0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;

    box-sizing: border-box;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    padding: 24px 32px;
    gap: 8px;

    width: 80vw;
    height: auto;
}

#btn__twitter:hover, #btn__zuri:hover, #books:hover, #book__python:hover, #pitch:hover, #book__design:hover {
    gap: 12px;
    background: #D0D5DD;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
}

#btn_twitter:focus, #btn__zuri:focus, #books:focus, #book__python:focus, #pitch:focus, #book__design:focus {
    gap: 12px;
    background: #EAECF0;
    border: 1px solid #98A2B3;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #EBE9FE;
border-radius: 8px;
}

#slack {
    display: none;
}

img.social-icon {
    width: 24px;
    height: 24px;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 20px;
}

.socials-container {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
    gap: 32px;
    margin-bottom: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    gap: 32px;
}

.horizontalLine {
    width: 80vw;
    margin-top: 5%;
}

#footer-text {
    align-self: center;
}

@media screen and (max-width: 650px) {
    #avatar_share {
        background: url("./images/avatar-share-btn_mobile.png") no-repeat center;
    }

    .socials-container {
        margin-bottom: 30px;
    }
    
    .footer-container {
        flex-direction: column;
        row-gap: 12px;
        align-items: flex-start;
        margin-left: 5%;
    }
    #footer-text {
            align-self:flex-start;
    }
}